:root {
    --theme-color: white;
    --primary-color: #df0606;
    --secondary-color: rgb(15, 18, 175);
    --text-color: rgb(10, 1, 61);
    --text-color-inverse: #d1fae5;
    --navbar-shadow-color: #eb2323;
    --menu-mobile-background-color: #7a0404;
}

html {
    scroll-behavior: smooth;
}

section [id] {
    scroll-margin-top: 70px;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--theme-color);
    color: var(--text-color);
    padding-top: 80px;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.horizontal-padding {
    padding-left: 25px;
    padding-right: 25px;
}

.vertical-padding {
    padding-top: 25px;
    padding-bottom: 25px;
}

@media (min-width: 950px) {
    .horizontal-padding {
        padding-left: 70px;
        padding-right: 70px;
    }
    
    .vertical-padding {
        padding-top: 70px;
        padding-bottom: 70px;
    }
}