<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.min.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/profile.css">
    <link rel="stylesheet" href="css/courses.css">
    <link rel="stylesheet" href="css/skills.css">
    <link rel="stylesheet" href="css/contact.css">
    <script defer src="js/app.js"></script>

</head>
<body>
    
    <div class="horizontal-padding vertical-padding">

        <section class="contact">

            <h1 class="cinefilos-h1" th:text="${cinema.name}"></h1>

            <div class="col">
            </div>
            <div class="col">
                <div th:if="${error}">
                    <div class="alert alert-danger" role="alert">
                        <p th:text="${error}"></p>
                    </div>
                    <a type="button" class="btn btn-primary" th:href="@{/cinemas}" role="button">Lista de cines</a>
                </div>



            <div class="contact-details" th:if="${error} == null">

                <div class="contact-details-group">
                    <h4>Teléfono:</h4>
                    <p class="contact-label" th:text="|${cinema.phone}"></p>
                    <h4>CIF: </h4>
                    <p class="contact-text" th:text="|${cinema.cif}"></p>
                </div>
                    <h4>Salas</h4>
                <div class="contact-details-group">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"
                            th:each="rooms: ${cinema.rooms}"
                            th:text="|Sala ${rooms.roomNumber} ${rooms.film.title}">
                        </li>
                    </ul>
                </div>
            </div>

            <form class="contact-form">
                <img th:src="@{${cinema.image}}" class="" th:alt="${cinema.name}"/>
            </form>

            <nav class="social">                
                <div class="contact-details-group">
                    <a class="btn btn-outline-primary" th:href="@{/cinemas}" role="button">Cines</a>
                    <a class="btn btn-outline-success" th:href="@{/cinemas/{id}/edit(id=${cinema.id})}"
                       sec:authorize="isAuthenticated()" role="button">Editar</a>
                    <button class="btn btn-outline-danger" th:href="@{/cinemas/{id}/delete(id=${cinema.id})}"
                       sec:authorize="isAuthenticated()" role="button">Borrar</button>
                </div>
            </nav>
        </section>
        
    </div>
</body>
</html>